
<div class="h-screen" [ngClass]="currentBg">
    <nav class="flex justify-between bg-gray-400 p-2" [ngClass]="navBackgroundColor">
        <a href="" class="font-bold text-2xl text-white transition-transform duration-300 hover:scale-110">myBudget</a>
        <button class="w-20 h-10 bg-white rounded-full" (click)="toggleButton()">
            <div class="w-8 h-8 bg-gray-300 rounded-full transition-transform duration-300"
                [ngClass]="[circlePosition , circleBackgroundColor]"></div>
        </button>
    </nav>
</div>
